#MQTT Broker Configuration
MQTT_BROKER=
MQTT_TOPIC=

#InfluxDB Configuration
INFLUX_URL=
INFLUX_TOKEN=
INFLUX_ORG=
INFLUX_BUCKET=

# MongoDB Configuration
MONGO_URI=

#Frontend (Vite) Configuration
VITE_BACKEND_URL=